USE [master]
GO
/****** Object:  Database [QuanLyThietBi]    Script Date: 6/4/2026 8:32:18 PM ******/
CREATE DATABASE [QuanLyThietBi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyThietBi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyThietBi.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyThietBi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyThietBi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyThietBi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyThietBi]
GO
/****** Object:  Table [dbo].[LoaiThietBi]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiThietBi](
	[LoaiThietBiID] [int] IDENTITY(1,1) NOT NULL,
	[DanhMucID] [int] NOT NULL,
	[NhaCungCapID] [int] NOT NULL,
	[TenLoaiThietBi] [nvarchar](150) NOT NULL,
	[ThongSoKyThuat] [nvarchar](max) NULL,
	[GiaThueThamKhao] [decimal](18, 2) NOT NULL,
	[AnhDaiDien] [varchar](500) NULL,
 CONSTRAINT [PK_LoaiThietBi] PRIMARY KEY CLUSTERED 
(
	[LoaiThietBiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhTrangThietBi]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhTrangThietBi](
	[TinhTrangID] [tinyint] NOT NULL,
	[TenTinhTrang] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
 CONSTRAINT [PK_TinhTrangThietBi] PRIMARY KEY CLUSTERED 
(
	[TinhTrangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThietBi]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThietBi](
	[ThietBiID] [int] IDENTITY(1,1) NOT NULL,
	[LoaiThietBiID] [int] NOT NULL,
	[MaTaiSan] [varchar](50) NOT NULL,
	[TinhTrangID] [tinyint] NOT NULL,
	[KhoHienTaiID] [int] NOT NULL,
	[NgayBaoTriTiepTheo] [datetime] NULL,
	[SoSerial] [varchar](50) NULL,
	[MucDichSuDung] [nvarchar](500) NULL,
	[GiaTriMay] [decimal](18, 2) NULL,
	[NgayKiemDinh] [datetime] NULL,
	[TinhTrangBanGiao] [nvarchar](1000) NULL,
	[QrCodeUrl] [nvarchar](500) NULL,
 CONSTRAINT [PK_ThietBi] PRIMARY KEY CLUSTERED 
(
	[ThietBiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ThietBi_Ma] UNIQUE NONCLUSTERED 
(
	[MaTaiSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietThue]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietThue](
	[HopDongID] [int] NOT NULL,
	[ThietBiID] [int] NOT NULL,
	[GiaThueThucTe] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ChiTietThue] PRIMARY KEY CLUSTERED 
(
	[HopDongID] ASC,
	[ThietBiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kho]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho](
	[KhoID] [int] IDENTITY(1,1) NOT NULL,
	[TenKho] [nvarchar](200) NOT NULL,
	[DiaChi] [nvarchar](500) NULL,
	[NguoiPhuTrach] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](20) NULL,
 CONSTRAINT [PK_Kho] PRIMARY KEY CLUSTERED 
(
	[KhoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ChiTietHopDong]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View thiết bị trong từng hợp đồng kèm thông tin chi tiết
--   Dùng cho màn hình chi tiết hợp đồng (cả online lẫn offline cache)
CREATE VIEW [dbo].[v_ChiTietHopDong] AS
SELECT
    ctt.HopDongID,
    tb.ThietBiID,
    tb.MaTaiSan,
    ltb.TenLoaiThietBi,
    ltb.ThongSoKyThuat,
    ltb.AnhDaiDien,
    ctt.GiaThueThucTe,
    tt.TenTinhTrang     AS TinhTrangHienTai,
    k.TenKho            AS KhoHienTai
FROM  ChiTietThue       ctt
JOIN  ThietBi           tb  ON tb.ThietBiID       = ctt.ThietBiID
JOIN  LoaiThietBi       ltb ON ltb.LoaiThietBiID  = tb.LoaiThietBiID
JOIN  TinhTrangThietBi  tt  ON tt.TinhTrangID      = tb.TinhTrangID
JOIN  Kho               k   ON k.KhoID             = tb.KhoHienTaiID;
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[NguoiDungID] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](150) NOT NULL,
	[TaiKhoan] [varchar](100) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[VaiTroID] [tinyint] NOT NULL,
	[KhoID] [int] NULL,
	[SoDienThoai] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[LoaiKhachHangID] [tinyint] NULL,
	[MaSoThue] [varchar](50) NULL,
	[TrangThaiID] [tinyint] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[LanDangNhapCuoi] [datetime] NULL,
	[DoiMatKhauLanDau] [bit] NOT NULL,
	[Avt] [nchar](50) NULL,
	[CCCD] [varchar](20) NULL,
	[CccdNgayCap] [datetime] NULL,
	[CccdNoiCap] [nvarchar](200) NULL,
	[DonViCongTac] [nvarchar](200) NULL,
	[MaPin] [varchar](255) NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[NguoiDungID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_NguoiDung_Ma] UNIQUE NONCLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_NguoiDung_TaiKhoan] UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiHopDong]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiHopDong](
	[TrangThaiID] [tinyint] NOT NULL,
	[TenTrangThai] [nvarchar](60) NOT NULL,
 CONSTRAINT [PK_TrangThaiHopDong] PRIMARY KEY CLUSTERED 
(
	[TrangThaiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDongThue]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDongThue](
	[HopDongID] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungKhachID] [int] NOT NULL,
	[NguoiDungTaoID] [int] NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[NgayBatDauThue] [datetime] NOT NULL,
	[NgayDuKienTra] [datetime] NOT NULL,
	[NgayTraThucTe] [datetime] NULL,
	[DiaDiemGiao] [nvarchar](500) NOT NULL,
	[TienCoc] [decimal](18, 2) NOT NULL,
	[TongTienThue] [decimal](18, 2) NOT NULL,
	[PhiBoiThuong] [decimal](18, 2) NOT NULL,
	[TrangThaiID] [tinyint] NOT NULL,
	[NguonTao] [tinyint] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[DiaChiGiaoID] [int] NULL,
	[PhuongThucThanhToan] [tinyint] NULL,
	[ThueVAT] [decimal](18, 2) NOT NULL,
	[PhiTreHanPhanTram] [decimal](5, 2) NOT NULL,
	[SoNgayTreHanMoiKy] [int] NOT NULL,
	[SoNgayViPhamChamDut] [int] NOT NULL,
	[PhiVeSinhChuyenSau] [decimal](18, 2) NOT NULL,
	[KhauHaoHaoMonNam] [decimal](18, 2) NULL,
	[PhiGianDoanPhanTram] [decimal](5, 2) NOT NULL,
	[GhiChuKhachHang] [nvarchar](500) NULL,
	[NgayKyDienTu] [datetime] NULL,
	[MaPinXacNhan] [varchar](255) NULL,
	[LoaiHopDongID] [int] NULL,
	[LaHoaToc] [bit] NOT NULL,
	[PhiHoaToc] [decimal](18, 2) NULL,
	[HanThanhToan] [datetime2](7) NULL,
	[LyDoHuy] [nvarchar](500) NULL,
 CONSTRAINT [PK_HopDongThue] PRIMARY KEY CLUSTERED 
(
	[HopDongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_HopDongTongQuan]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View tổng quan hợp đồng kèm thông tin khách hàng
CREATE VIEW [dbo].[v_HopDongTongQuan] AS
SELECT
    hd.HopDongID,
    hd.NgayLap,
    hd.NgayBatDauThue,
    hd.NgayDuKienTra,
    hd.NgayTraThucTe,
    hd.DiaDiemGiao,
    hd.TienCoc,
    hd.TongTienThue,
    hd.PhiBoiThuong,
    hd.TongTienThue + hd.PhiBoiThuong - hd.TienCoc AS SoTienThanhToan,
    hd.NguonTao,
    tt.TenTrangThai AS TrangThai,
    kh.NguoiDungID  AS KhachHangID,
    kh.HoTen        AS TenKhachHang,
    kh.SoDienThoai  AS DienThoaiKH,
    kh.Email        AS EmailKH,
    nd.HoTen        AS NguoiTao
FROM  HopDongThue       hd
JOIN  NguoiDung         kh ON kh.NguoiDungID = hd.NguoiDungKhachID
JOIN  NguoiDung         nd ON nd.NguoiDungID = hd.NguoiDungTaoID
JOIN  TrangThaiHopDong  tt ON tt.TrangThaiID = hd.TrangThaiID;
GO
/****** Object:  Table [dbo].[LichSuBaoTri]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuBaoTri](
	[BaoTriID] [int] IDENTITY(1,1) NOT NULL,
	[ThietBiID] [int] NOT NULL,
	[NguoiDungBaoTriID] [int] NOT NULL,
	[NgayThucHien] [datetime] NOT NULL,
	[LoaiBaoTriID] [tinyint] NOT NULL,
	[NoiDungBaoTri] [nvarchar](max) NOT NULL,
	[ChiPhi] [decimal](18, 2) NOT NULL,
	[TrangThaiID] [tinyint] NOT NULL,
	[TinhVaoBoiThuong] [bit] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayHoanThanh] [datetime] NULL,
 CONSTRAINT [PK_LichSuBaoTri] PRIMARY KEY CLUSTERED 
(
	[BaoTriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ThanhLyHopDong]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View bảng thanh lý cuối kỳ
CREATE VIEW [dbo].[v_ThanhLyHopDong] AS
SELECT
    hd.HopDongID,
    hd.TongTienThue,
    hd.PhiBoiThuong,
    hd.TienCoc,
    hd.TongTienThue + hd.PhiBoiThuong - hd.TienCoc AS SoTienConLai,
    CASE
        WHEN hd.TongTienThue + hd.PhiBoiThuong - hd.TienCoc > 0
        THEN N'Khách hàng cần thanh toán thêm'
        WHEN hd.TongTienThue + hd.PhiBoiThuong - hd.TienCoc < 0
        THEN N'Hoàn tiền cho khách hàng'
        ELSE N'Không cần thanh toán thêm'
    END AS GhiChuThanhLy,
    -- Chi tiết bồi thường
    (
        SELECT COUNT(*) FROM LichSuBaoTri lsbt
        WHERE lsbt.HopDongID = hd.HopDongID AND lsbt.TinhVaoBoiThuong = 1
    ) AS SoPhieuBoiThuong
FROM HopDongThue hd;
GO
/****** Object:  Table [dbo].[DanhMucThietBi]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucThietBi](
	[DanhMucID] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DanhMucThietBi] PRIMARY KEY CLUSTERED 
(
	[DanhMucID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ThietBiSanSang]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================
-- NHÓM 13: VIEW TIỆN ÍCH
-- ============================================================================

-- View danh sách thiết bị sẵn sàng cho thuê  (dùng cho màn hình KH duyệt danh mục)
CREATE VIEW [dbo].[v_ThietBiSanSang] AS
SELECT
    tb.ThietBiID,
    tb.MaTaiSan,
    ltb.TenLoaiThietBi,
    ltb.ThongSoKyThuat,
    ltb.GiaThueThamKhao,
    ltb.AnhDaiDien,
    dm.TenDanhMuc,
    k.TenKho,
    k.DiaChi    AS DiaChiKho
FROM  ThietBi       tb
JOIN  LoaiThietBi   ltb ON ltb.LoaiThietBiID = tb.LoaiThietBiID
JOIN  DanhMucThietBi dm  ON dm.DanhMucID     = ltb.DanhMucID
JOIN  Kho           k   ON k.KhoID           = tb.KhoHienTaiID
WHERE tb.TinhTrangID = 1;   -- chỉ "Sẵn sàng"
GO
/****** Object:  Table [dbo].[CauHinhHopDong]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinhHopDong](
	[CauHinhID] [int] IDENTITY(1,1) NOT NULL,
	[MaCauHinh] [nvarchar](50) NOT NULL,
	[GiaTri] [decimal](18, 2) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[NgayCapNhat] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CauHinhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaCauHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[PhieuNhapID] [int] NOT NULL,
	[LoaiThietBiID] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGiaNhap] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ChiTietPhieuNhap] PRIMARY KEY CLUSTERED 
(
	[PhieuNhapID] ASC,
	[LoaiThietBiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietThueThietBi]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietThueThietBi](
	[ChiTietID] [int] IDENTITY(1,1) NOT NULL,
	[HopDongID] [int] NOT NULL,
	[ThietBiID] [int] NOT NULL,
	[GiaThueThang] [decimal](18, 2) NOT NULL,
	[GiaTriMay] [decimal](18, 2) NOT NULL,
	[TinhTrangGiao] [nvarchar](1000) NULL,
	[TinhTrangTra] [nvarchar](1000) NULL,
	[NgayGiao] [datetime] NULL,
	[NgayTra] [datetime] NULL,
 CONSTRAINT [PK_ChiTietThueThietBi] PRIMARY KEY CLUSTERED 
(
	[ChiTietID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuKyDienTu]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuKyDienTu](
	[ChuKyID] [int] IDENTITY(1,1) NOT NULL,
	[HopDongID] [int] NOT NULL,
	[NguoiDungID] [int] NOT NULL,
	[NgayKy] [datetime] NOT NULL,
	[IpAddress] [varchar](45) NULL,
	[ThietBiKy] [nvarchar](200) NULL,
	[TenFileChuKy] [nvarchar](255) NULL,
 CONSTRAINT [PK_ChuKyDienTu] PRIMARY KEY CLUSTERED 
(
	[ChuKyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaChiGiaoHang]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChiGiaoHang](
	[DiaChiID] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungID] [int] NOT NULL,
	[TenNguoiNhan] [nvarchar](150) NOT NULL,
	[SoDienThoai] [varchar](20) NOT NULL,
	[TinhThanhPho] [nvarchar](100) NOT NULL,
	[PhuongXa] [nvarchar](100) NOT NULL,
	[DiaChiChiTiet] [nvarchar](500) NOT NULL,
	[DonVi] [nvarchar](200) NULL,
	[LoaiDiaChi] [tinyint] NOT NULL,
	[LaMacDinh] [bit] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
 CONSTRAINT [PK_DiaChiGiaoHang] PRIMARY KEY CLUSTERED 
(
	[DiaChiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DieuKhoanHopDong]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DieuKhoanHopDong](
	[DieuKhoanID] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](200) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[PhienBan] [varchar](20) NOT NULL,
	[NgayHieuLuc] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_DieuKhoanHopDong] PRIMARY KEY CLUSTERED 
(
	[DieuKhoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DieuKhoanMauHopDong]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DieuKhoanMauHopDong](
	[DieuKhoanID] [int] IDENTITY(1,1) NOT NULL,
	[SoDieu] [int] NOT NULL,
	[TieuDe] [nvarchar](200) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[PhienBan] [int] NOT NULL,
	[DangHoatDong] [bit] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
 CONSTRAINT [PK_DieuKhoanMauHD] PRIMARY KEY CLUSTERED 
(
	[DieuKhoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FCMToken]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FCMToken](
	[TokenID] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungID] [int] NOT NULL,
	[Token] [varchar](500) NOT NULL,
	[DeviceName] [nvarchar](100) NULL,
	[NgayCapNhat] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[GioHangID] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungID] [int] NOT NULL,
	[NgayThem] [datetime] NOT NULL,
	[LoaiThietBiID] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[GioHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_GioHang] UNIQUE NONCLUSTERED 
(
	[NguoiDungID] ASC,
	[LoaiThietBiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnhThietBi]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnhThietBi](
	[HinhAnhID] [int] IDENTITY(1,1) NOT NULL,
	[ThietBiID] [int] NOT NULL,
	[NguoiDungChupID] [int] NOT NULL,
	[UrlAnh] [varchar](500) NOT NULL,
	[LoaiAnhID] [tinyint] NOT NULL,
	[NgayChup] [datetime] NOT NULL,
	[BanGiaoID] [int] NULL,
	[BaoTriID] [int] NULL,
 CONSTRAINT [PK_HinhAnhThietBi] PRIMARY KEY CLUSTERED 
(
	[HinhAnhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuBanGiao]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuBanGiao](
	[BanGiaoID] [int] IDENTITY(1,1) NOT NULL,
	[HopDongID] [int] NULL,
	[ThietBiID] [int] NOT NULL,
	[TuKhoID] [int] NOT NULL,
	[DenKhoID] [int] NULL,
	[NguoiDungThucHienID] [int] NOT NULL,
	[NgayGiaoNhan] [datetime] NOT NULL,
	[NguoiNhan] [nvarchar](100) NULL,
	[HinhAnhXacNhan] [varchar](500) NULL,
	[LoaiGiaoDichID] [tinyint] NOT NULL,
	[MucDanhGiaID] [tinyint] NULL,
	[GhiChu_TinhTrang] [nvarchar](500) NULL,
 CONSTRAINT [PK_LichSuBanGiao] PRIMARY KEY CLUSTERED 
(
	[BanGiaoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiAnh]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiAnh](
	[LoaiAnhID] [tinyint] NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiAnh] PRIMARY KEY CLUSTERED 
(
	[LoaiAnhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiBaoTri]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiBaoTri](
	[LoaiBaoTriID] [tinyint] NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiBaoTri] PRIMARY KEY CLUSTERED 
(
	[LoaiBaoTriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiGiaoDich]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiGiaoDich](
	[LoaiGiaoDichID] [tinyint] NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiGiaoDich] PRIMARY KEY CLUSTERED 
(
	[LoaiGiaoDichID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHopDong]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHopDong](
	[LoaiHopDongID] [int] NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LoaiHopDongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiKhachHang]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiKhachHang](
	[LoaiID] [tinyint] NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiKhachHang] PRIMARY KEY CLUSTERED 
(
	[LoaiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MucDanhGia]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MucDanhGia](
	[MucDanhGiaID] [tinyint] NOT NULL,
	[TenMuc] [nvarchar](60) NOT NULL,
	[TinhVaoBoiThuong] [bit] NOT NULL,
	[MoTa] [nvarchar](255) NULL,
 CONSTRAINT [PK_MucDanhGia] PRIMARY KEY CLUSTERED 
(
	[MucDanhGiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[NhaCungCapID] [int] IDENTITY(1,1) NOT NULL,
	[TenNhaCungCap] [nvarchar](150) NOT NULL,
	[NguoiLienHe] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[DiaChi] [nvarchar](255) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[NhaCungCapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[PhieuNhapID] [int] IDENTITY(1,1) NOT NULL,
	[NhaCungCapID] [int] NOT NULL,
	[NguoiDungNhapID] [int] NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[TongTienNhap] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[PhieuNhapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[ThanhToanID] [int] IDENTITY(1,1) NOT NULL,
	[HopDongID] [int] NOT NULL,
	[PhuongThuc] [tinyint] NOT NULL,
	[LoaiThanhToan] [tinyint] NOT NULL,
	[MaGiaoDich] [varchar](100) NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[TrangThai] [tinyint] NOT NULL,
	[NgayThanhToan] [datetime] NULL,
	[NgayTao] [datetime] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_ThanhToan] PRIMARY KEY CLUSTERED 
(
	[ThanhToanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[ThongBaoID] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](200) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[LoaiThongBao] [tinyint] NOT NULL,
	[NguoiGuiID] [int] NOT NULL,
	[VaiTroNhanID] [tinyint] NULL,
	[NgayTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ThongBaoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBaoNguoiDung]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBaoNguoiDung](
	[ThongBaoNguoiDungID] [int] IDENTITY(1,1) NOT NULL,
	[ThongBaoID] [int] NOT NULL,
	[NguoiDungID] [int] NOT NULL,
	[DaDoc] [bit] NOT NULL,
	[NgayDoc] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ThongBaoNguoiDungID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TBND] UNIQUE NONCLUSTERED 
(
	[ThongBaoID] ASC,
	[NguoiDungID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiBaoTri]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiBaoTri](
	[TrangThaiID] [tinyint] NOT NULL,
	[TenTrangThai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TrangThaiBaoTri] PRIMARY KEY CLUSTERED 
(
	[TrangThaiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiNguoiDung]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiNguoiDung](
	[TrangThaiID] [tinyint] NOT NULL,
	[TenTrangThai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TrangThaiNguoiDung] PRIMARY KEY CLUSTERED 
(
	[TrangThaiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[VaiTroID] [tinyint] NOT NULL,
	[TenVaiTro] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
 CONSTRAINT [PK_VaiTro] PRIMARY KEY CLUSTERED 
(
	[VaiTroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XacNhanDieuKhoan]    Script Date: 6/4/2026 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XacNhanDieuKhoan](
	[HopDongID] [int] NOT NULL,
	[DieuKhoanID] [int] NOT NULL,
	[ThoiGianXacNhan] [datetime] NOT NULL,
	[DiaChiIP] [varchar](50) NULL,
 CONSTRAINT [PK_XacNhanDieuKhoan] PRIMARY KEY CLUSTERED 
(
	[HopDongID] ASC,
	[DieuKhoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CauHinhHopDong] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[ChuKyDienTu] ADD  DEFAULT (getdate()) FOR [NgayKy]
GO
ALTER TABLE [dbo].[DiaChiGiaoHang] ADD  DEFAULT ((2)) FOR [LoaiDiaChi]
GO
ALTER TABLE [dbo].[DiaChiGiaoHang] ADD  DEFAULT ((0)) FOR [LaMacDinh]
GO
ALTER TABLE [dbo].[DiaChiGiaoHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DieuKhoanHopDong] ADD  CONSTRAINT [DF_DieuKhoan_Active]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DieuKhoanMauHopDong] ADD  DEFAULT ((1)) FOR [PhienBan]
GO
ALTER TABLE [dbo].[DieuKhoanMauHopDong] ADD  DEFAULT ((1)) FOR [DangHoatDong]
GO
ALTER TABLE [dbo].[DieuKhoanMauHopDong] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[FCMToken] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[GioHang] ADD  CONSTRAINT [DF_GioHang_Ngay]  DEFAULT (getdate()) FOR [NgayThem]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[HinhAnhThietBi] ADD  CONSTRAINT [DF_HinhAnh_Ngay]  DEFAULT (getdate()) FOR [NgayChup]
GO
ALTER TABLE [dbo].[HopDongThue] ADD  CONSTRAINT [DF_HopDong_NgayLap]  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HopDongThue] ADD  CONSTRAINT [DF_HopDong_Coc]  DEFAULT ((0)) FOR [TienCoc]
GO
ALTER TABLE [dbo].[HopDongThue] ADD  CONSTRAINT [DF_HopDong_Tong]  DEFAULT ((0)) FOR [TongTienThue]
GO
ALTER TABLE [dbo].[HopDongThue] ADD  CONSTRAINT [DF_HopDong_BoiThuong]  DEFAULT ((0)) FOR [PhiBoiThuong]
GO
ALTER TABLE [dbo].[HopDongThue] ADD  CONSTRAINT [DF_HopDong_TrangThai]  DEFAULT ((1)) FOR [TrangThaiID]
GO
ALTER TABLE [dbo].[HopDongThue] ADD  CONSTRAINT [DF_HopDong_Nguon]  DEFAULT ((2)) FOR [NguonTao]
GO
ALTER TABLE [dbo].[HopDongThue] ADD  DEFAULT ((0)) FOR [ThueVAT]
GO
ALTER TABLE [dbo].[HopDongThue] ADD  DEFAULT ((3.0)) FOR [PhiTreHanPhanTram]
GO
ALTER TABLE [dbo].[HopDongThue] ADD  DEFAULT ((3)) FOR [SoNgayTreHanMoiKy]
GO
ALTER TABLE [dbo].[HopDongThue] ADD  DEFAULT ((15)) FOR [SoNgayViPhamChamDut]
GO
ALTER TABLE [dbo].[HopDongThue] ADD  DEFAULT ((1000000)) FOR [PhiVeSinhChuyenSau]
GO
ALTER TABLE [dbo].[HopDongThue] ADD  DEFAULT ((50.0)) FOR [PhiGianDoanPhanTram]
GO
ALTER TABLE [dbo].[HopDongThue] ADD  DEFAULT ((0)) FOR [LaHoaToc]
GO
ALTER TABLE [dbo].[HopDongThue] ADD  DEFAULT ((0)) FOR [PhiHoaToc]
GO
ALTER TABLE [dbo].[LichSuBanGiao] ADD  CONSTRAINT [DF_LSBG_Ngay]  DEFAULT (getdate()) FOR [NgayGiaoNhan]
GO
ALTER TABLE [dbo].[LichSuBaoTri] ADD  CONSTRAINT [DF_LSBT_Ngay]  DEFAULT (getdate()) FOR [NgayThucHien]
GO
ALTER TABLE [dbo].[LichSuBaoTri] ADD  CONSTRAINT [DF_LSBT_ChiPhi]  DEFAULT ((0)) FOR [ChiPhi]
GO
ALTER TABLE [dbo].[LichSuBaoTri] ADD  CONSTRAINT [DF_LSBT_TrangThai]  DEFAULT ((1)) FOR [TrangThaiID]
GO
ALTER TABLE [dbo].[LichSuBaoTri] ADD  CONSTRAINT [DF_LSBT_BoiThuong]  DEFAULT ((0)) FOR [TinhVaoBoiThuong]
GO
ALTER TABLE [dbo].[LoaiThietBi] ADD  CONSTRAINT [DF_LoaiTB_Gia]  DEFAULT ((0)) FOR [GiaThueThamKhao]
GO
ALTER TABLE [dbo].[MucDanhGia] ADD  DEFAULT ((0)) FOR [TinhVaoBoiThuong]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  CONSTRAINT [DF_NguoiDung_TrangThai]  DEFAULT ((1)) FOR [TrangThaiID]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  CONSTRAINT [DF_NguoiDung_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  CONSTRAINT [DF_NguoiDung_DoiMK]  DEFAULT ((0)) FOR [DoiMatKhauLanDau]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  CONSTRAINT [DF_PhieuNhap_Ngay]  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT ((1)) FOR [LoaiThanhToan]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ThietBi] ADD  CONSTRAINT [DF_ThietBi_TinhTrang]  DEFAULT ((1)) FOR [TinhTrangID]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT ((1)) FOR [LoaiThongBao]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ThongBaoNguoiDung] ADD  DEFAULT ((0)) FOR [DaDoc]
GO
ALTER TABLE [dbo].[XacNhanDieuKhoan] ADD  CONSTRAINT [DF_XacNhan_Thoigian]  DEFAULT (getdate()) FOR [ThoiGianXacNhan]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_LoaiThietBi] FOREIGN KEY([LoaiThietBiID])
REFERENCES [dbo].[LoaiThietBi] ([LoaiThietBiID])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_CTPN_LoaiThietBi]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PhieuNhap] FOREIGN KEY([PhieuNhapID])
REFERENCES [dbo].[PhieuNhap] ([PhieuNhapID])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_CTPN_PhieuNhap]
GO
ALTER TABLE [dbo].[ChiTietThue]  WITH CHECK ADD  CONSTRAINT [FK_CTT_HopDong] FOREIGN KEY([HopDongID])
REFERENCES [dbo].[HopDongThue] ([HopDongID])
GO
ALTER TABLE [dbo].[ChiTietThue] CHECK CONSTRAINT [FK_CTT_HopDong]
GO
ALTER TABLE [dbo].[ChiTietThue]  WITH CHECK ADD  CONSTRAINT [FK_CTT_ThietBi] FOREIGN KEY([ThietBiID])
REFERENCES [dbo].[ThietBi] ([ThietBiID])
GO
ALTER TABLE [dbo].[ChiTietThue] CHECK CONSTRAINT [FK_CTT_ThietBi]
GO
ALTER TABLE [dbo].[ChiTietThueThietBi]  WITH CHECK ADD  CONSTRAINT [FK_CTTB_HopDong] FOREIGN KEY([HopDongID])
REFERENCES [dbo].[HopDongThue] ([HopDongID])
GO
ALTER TABLE [dbo].[ChiTietThueThietBi] CHECK CONSTRAINT [FK_CTTB_HopDong]
GO
ALTER TABLE [dbo].[ChiTietThueThietBi]  WITH CHECK ADD  CONSTRAINT [FK_CTTB_ThietBi] FOREIGN KEY([ThietBiID])
REFERENCES [dbo].[ThietBi] ([ThietBiID])
GO
ALTER TABLE [dbo].[ChiTietThueThietBi] CHECK CONSTRAINT [FK_CTTB_ThietBi]
GO
ALTER TABLE [dbo].[ChuKyDienTu]  WITH CHECK ADD  CONSTRAINT [FK_CKDT_HopDong] FOREIGN KEY([HopDongID])
REFERENCES [dbo].[HopDongThue] ([HopDongID])
GO
ALTER TABLE [dbo].[ChuKyDienTu] CHECK CONSTRAINT [FK_CKDT_HopDong]
GO
ALTER TABLE [dbo].[ChuKyDienTu]  WITH CHECK ADD  CONSTRAINT [FK_CKDT_NguoiDung] FOREIGN KEY([NguoiDungID])
REFERENCES [dbo].[NguoiDung] ([NguoiDungID])
GO
ALTER TABLE [dbo].[ChuKyDienTu] CHECK CONSTRAINT [FK_CKDT_NguoiDung]
GO
ALTER TABLE [dbo].[DiaChiGiaoHang]  WITH CHECK ADD  CONSTRAINT [FK_DCGH_NguoiDung] FOREIGN KEY([NguoiDungID])
REFERENCES [dbo].[NguoiDung] ([NguoiDungID])
GO
ALTER TABLE [dbo].[DiaChiGiaoHang] CHECK CONSTRAINT [FK_DCGH_NguoiDung]
GO
ALTER TABLE [dbo].[FCMToken]  WITH CHECK ADD  CONSTRAINT [FK_FCM_NguoiDung] FOREIGN KEY([NguoiDungID])
REFERENCES [dbo].[NguoiDung] ([NguoiDungID])
GO
ALTER TABLE [dbo].[FCMToken] CHECK CONSTRAINT [FK_FCM_NguoiDung]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GH_NguoiDung] FOREIGN KEY([NguoiDungID])
REFERENCES [dbo].[NguoiDung] ([NguoiDungID])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GH_NguoiDung]
GO
ALTER TABLE [dbo].[HinhAnhThietBi]  WITH CHECK ADD  CONSTRAINT [FK_HA_BanGiao] FOREIGN KEY([BanGiaoID])
REFERENCES [dbo].[LichSuBanGiao] ([BanGiaoID])
GO
ALTER TABLE [dbo].[HinhAnhThietBi] CHECK CONSTRAINT [FK_HA_BanGiao]
GO
ALTER TABLE [dbo].[HinhAnhThietBi]  WITH CHECK ADD  CONSTRAINT [FK_HA_BaoTri] FOREIGN KEY([BaoTriID])
REFERENCES [dbo].[LichSuBaoTri] ([BaoTriID])
GO
ALTER TABLE [dbo].[HinhAnhThietBi] CHECK CONSTRAINT [FK_HA_BaoTri]
GO
ALTER TABLE [dbo].[HinhAnhThietBi]  WITH CHECK ADD  CONSTRAINT [FK_HA_LoaiAnh] FOREIGN KEY([LoaiAnhID])
REFERENCES [dbo].[LoaiAnh] ([LoaiAnhID])
GO
ALTER TABLE [dbo].[HinhAnhThietBi] CHECK CONSTRAINT [FK_HA_LoaiAnh]
GO
ALTER TABLE [dbo].[HinhAnhThietBi]  WITH CHECK ADD  CONSTRAINT [FK_HA_NguoiDung] FOREIGN KEY([NguoiDungChupID])
REFERENCES [dbo].[NguoiDung] ([NguoiDungID])
GO
ALTER TABLE [dbo].[HinhAnhThietBi] CHECK CONSTRAINT [FK_HA_NguoiDung]
GO
ALTER TABLE [dbo].[HinhAnhThietBi]  WITH CHECK ADD  CONSTRAINT [FK_HA_ThietBi] FOREIGN KEY([ThietBiID])
REFERENCES [dbo].[ThietBi] ([ThietBiID])
GO
ALTER TABLE [dbo].[HinhAnhThietBi] CHECK CONSTRAINT [FK_HA_ThietBi]
GO
ALTER TABLE [dbo].[HopDongThue]  WITH CHECK ADD  CONSTRAINT [FK_HD_DiaChi] FOREIGN KEY([DiaChiGiaoID])
REFERENCES [dbo].[DiaChiGiaoHang] ([DiaChiID])
GO
ALTER TABLE [dbo].[HopDongThue] CHECK CONSTRAINT [FK_HD_DiaChi]
GO
ALTER TABLE [dbo].[HopDongThue]  WITH CHECK ADD  CONSTRAINT [FK_HD_KhachHang] FOREIGN KEY([NguoiDungKhachID])
REFERENCES [dbo].[NguoiDung] ([NguoiDungID])
GO
ALTER TABLE [dbo].[HopDongThue] CHECK CONSTRAINT [FK_HD_KhachHang]
GO
ALTER TABLE [dbo].[HopDongThue]  WITH CHECK ADD  CONSTRAINT [FK_HD_NguoiTao] FOREIGN KEY([NguoiDungTaoID])
REFERENCES [dbo].[NguoiDung] ([NguoiDungID])
GO
ALTER TABLE [dbo].[HopDongThue] CHECK CONSTRAINT [FK_HD_NguoiTao]
GO
ALTER TABLE [dbo].[HopDongThue]  WITH CHECK ADD  CONSTRAINT [FK_HD_TrangThai] FOREIGN KEY([TrangThaiID])
REFERENCES [dbo].[TrangThaiHopDong] ([TrangThaiID])
GO
ALTER TABLE [dbo].[HopDongThue] CHECK CONSTRAINT [FK_HD_TrangThai]
GO
ALTER TABLE [dbo].[HopDongThue]  WITH CHECK ADD  CONSTRAINT [FK_HopDongThue_LoaiHopDong] FOREIGN KEY([LoaiHopDongID])
REFERENCES [dbo].[LoaiHopDong] ([LoaiHopDongID])
GO
ALTER TABLE [dbo].[HopDongThue] CHECK CONSTRAINT [FK_HopDongThue_LoaiHopDong]
GO
ALTER TABLE [dbo].[LichSuBanGiao]  WITH CHECK ADD  CONSTRAINT [FK_LSBG_DenKho] FOREIGN KEY([DenKhoID])
REFERENCES [dbo].[Kho] ([KhoID])
GO
ALTER TABLE [dbo].[LichSuBanGiao] CHECK CONSTRAINT [FK_LSBG_DenKho]
GO
ALTER TABLE [dbo].[LichSuBanGiao]  WITH CHECK ADD  CONSTRAINT [FK_LSBG_HopDong] FOREIGN KEY([HopDongID])
REFERENCES [dbo].[HopDongThue] ([HopDongID])
GO
ALTER TABLE [dbo].[LichSuBanGiao] CHECK CONSTRAINT [FK_LSBG_HopDong]
GO
ALTER TABLE [dbo].[LichSuBanGiao]  WITH CHECK ADD  CONSTRAINT [FK_LSBG_LoaiGiaoDich] FOREIGN KEY([LoaiGiaoDichID])
REFERENCES [dbo].[LoaiGiaoDich] ([LoaiGiaoDichID])
GO
ALTER TABLE [dbo].[LichSuBanGiao] CHECK CONSTRAINT [FK_LSBG_LoaiGiaoDich]
GO
ALTER TABLE [dbo].[LichSuBanGiao]  WITH CHECK ADD  CONSTRAINT [FK_LSBG_MucDanhGia] FOREIGN KEY([MucDanhGiaID])
REFERENCES [dbo].[MucDanhGia] ([MucDanhGiaID])
GO
ALTER TABLE [dbo].[LichSuBanGiao] CHECK CONSTRAINT [FK_LSBG_MucDanhGia]
GO
ALTER TABLE [dbo].[LichSuBanGiao]  WITH CHECK ADD  CONSTRAINT [FK_LSBG_NguoiDung] FOREIGN KEY([NguoiDungThucHienID])
REFERENCES [dbo].[NguoiDung] ([NguoiDungID])
GO
ALTER TABLE [dbo].[LichSuBanGiao] CHECK CONSTRAINT [FK_LSBG_NguoiDung]
GO
ALTER TABLE [dbo].[LichSuBanGiao]  WITH CHECK ADD  CONSTRAINT [FK_LSBG_TuKho] FOREIGN KEY([TuKhoID])
REFERENCES [dbo].[Kho] ([KhoID])
GO
ALTER TABLE [dbo].[LichSuBanGiao] CHECK CONSTRAINT [FK_LSBG_TuKho]
GO
ALTER TABLE [dbo].[LichSuBanGiao]  WITH CHECK ADD  CONSTRAINT [FK_LSBG_ThietBi] FOREIGN KEY([ThietBiID])
REFERENCES [dbo].[ThietBi] ([ThietBiID])
GO
ALTER TABLE [dbo].[LichSuBanGiao] CHECK CONSTRAINT [FK_LSBG_ThietBi]
GO
ALTER TABLE [dbo].[LichSuBaoTri]  WITH CHECK ADD  CONSTRAINT [FK_LSBT_LoaiBaoTri] FOREIGN KEY([LoaiBaoTriID])
REFERENCES [dbo].[LoaiBaoTri] ([LoaiBaoTriID])
GO
ALTER TABLE [dbo].[LichSuBaoTri] CHECK CONSTRAINT [FK_LSBT_LoaiBaoTri]
GO
ALTER TABLE [dbo].[LichSuBaoTri]  WITH CHECK ADD  CONSTRAINT [FK_LSBT_NguoiDung] FOREIGN KEY([NguoiDungBaoTriID])
REFERENCES [dbo].[NguoiDung] ([NguoiDungID])
GO
ALTER TABLE [dbo].[LichSuBaoTri] CHECK CONSTRAINT [FK_LSBT_NguoiDung]
GO
ALTER TABLE [dbo].[LichSuBaoTri]  WITH CHECK ADD  CONSTRAINT [FK_LSBT_ThietBi] FOREIGN KEY([ThietBiID])
REFERENCES [dbo].[ThietBi] ([ThietBiID])
GO
ALTER TABLE [dbo].[LichSuBaoTri] CHECK CONSTRAINT [FK_LSBT_ThietBi]
GO
ALTER TABLE [dbo].[LichSuBaoTri]  WITH CHECK ADD  CONSTRAINT [FK_LSBT_TrangThai] FOREIGN KEY([TrangThaiID])
REFERENCES [dbo].[TrangThaiBaoTri] ([TrangThaiID])
GO
ALTER TABLE [dbo].[LichSuBaoTri] CHECK CONSTRAINT [FK_LSBT_TrangThai]
GO
ALTER TABLE [dbo].[LoaiThietBi]  WITH CHECK ADD  CONSTRAINT [FK_LTB_DanhMuc] FOREIGN KEY([DanhMucID])
REFERENCES [dbo].[DanhMucThietBi] ([DanhMucID])
GO
ALTER TABLE [dbo].[LoaiThietBi] CHECK CONSTRAINT [FK_LTB_DanhMuc]
GO
ALTER TABLE [dbo].[LoaiThietBi]  WITH CHECK ADD  CONSTRAINT [FK_LTB_NhaCungCap] FOREIGN KEY([NhaCungCapID])
REFERENCES [dbo].[NhaCungCap] ([NhaCungCapID])
GO
ALTER TABLE [dbo].[LoaiThietBi] CHECK CONSTRAINT [FK_LTB_NhaCungCap]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_ND_Kho] FOREIGN KEY([KhoID])
REFERENCES [dbo].[Kho] ([KhoID])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_ND_Kho]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_ND_LoaiKH] FOREIGN KEY([LoaiKhachHangID])
REFERENCES [dbo].[LoaiKhachHang] ([LoaiID])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_ND_LoaiKH]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_ND_TrangThai] FOREIGN KEY([TrangThaiID])
REFERENCES [dbo].[TrangThaiNguoiDung] ([TrangThaiID])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_ND_TrangThai]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_ND_VaiTro] FOREIGN KEY([VaiTroID])
REFERENCES [dbo].[VaiTro] ([VaiTroID])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_ND_VaiTro]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PN_NguoiDung] FOREIGN KEY([NguoiDungNhapID])
REFERENCES [dbo].[NguoiDung] ([NguoiDungID])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PN_NguoiDung]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PN_NhaCungCap] FOREIGN KEY([NhaCungCapID])
REFERENCES [dbo].[NhaCungCap] ([NhaCungCapID])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PN_NhaCungCap]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_TT_HopDong] FOREIGN KEY([HopDongID])
REFERENCES [dbo].[HopDongThue] ([HopDongID])
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [FK_TT_HopDong]
GO
ALTER TABLE [dbo].[ThietBi]  WITH CHECK ADD  CONSTRAINT [FK_TB_Kho] FOREIGN KEY([KhoHienTaiID])
REFERENCES [dbo].[Kho] ([KhoID])
GO
ALTER TABLE [dbo].[ThietBi] CHECK CONSTRAINT [FK_TB_Kho]
GO
ALTER TABLE [dbo].[ThietBi]  WITH CHECK ADD  CONSTRAINT [FK_TB_LoaiThietBi] FOREIGN KEY([LoaiThietBiID])
REFERENCES [dbo].[LoaiThietBi] ([LoaiThietBiID])
GO
ALTER TABLE [dbo].[ThietBi] CHECK CONSTRAINT [FK_TB_LoaiThietBi]
GO
ALTER TABLE [dbo].[ThietBi]  WITH CHECK ADD  CONSTRAINT [FK_TB_TinhTrang] FOREIGN KEY([TinhTrangID])
REFERENCES [dbo].[TinhTrangThietBi] ([TinhTrangID])
GO
ALTER TABLE [dbo].[ThietBi] CHECK CONSTRAINT [FK_TB_TinhTrang]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK_TB_NguoiGui] FOREIGN KEY([NguoiGuiID])
REFERENCES [dbo].[NguoiDung] ([NguoiDungID])
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK_TB_NguoiGui]
GO
ALTER TABLE [dbo].[ThongBaoNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_TBND_NguoiDung] FOREIGN KEY([NguoiDungID])
REFERENCES [dbo].[NguoiDung] ([NguoiDungID])
GO
ALTER TABLE [dbo].[ThongBaoNguoiDung] CHECK CONSTRAINT [FK_TBND_NguoiDung]
GO
ALTER TABLE [dbo].[ThongBaoNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_TBND_ThongBao] FOREIGN KEY([ThongBaoID])
REFERENCES [dbo].[ThongBao] ([ThongBaoID])
GO
ALTER TABLE [dbo].[ThongBaoNguoiDung] CHECK CONSTRAINT [FK_TBND_ThongBao]
GO
ALTER TABLE [dbo].[XacNhanDieuKhoan]  WITH CHECK ADD  CONSTRAINT [FK_XNDK_DieuKhoan] FOREIGN KEY([DieuKhoanID])
REFERENCES [dbo].[DieuKhoanHopDong] ([DieuKhoanID])
GO
ALTER TABLE [dbo].[XacNhanDieuKhoan] CHECK CONSTRAINT [FK_XNDK_DieuKhoan]
GO
ALTER TABLE [dbo].[XacNhanDieuKhoan]  WITH CHECK ADD  CONSTRAINT [FK_XNDK_HopDong] FOREIGN KEY([HopDongID])
REFERENCES [dbo].[HopDongThue] ([HopDongID])
GO
ALTER TABLE [dbo].[XacNhanDieuKhoan] CHECK CONSTRAINT [FK_XNDK_HopDong]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [CK_CTPN_SoLuong] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [CK_CTPN_SoLuong]
GO
ALTER TABLE [dbo].[HopDongThue]  WITH CHECK ADD  CONSTRAINT [CK_HopDong_NgayTra] CHECK  (([NgayDuKienTra]>[NgayBatDauThue]))
GO
ALTER TABLE [dbo].[HopDongThue] CHECK CONSTRAINT [CK_HopDong_NgayTra]
GO
ALTER TABLE [dbo].[HopDongThue]  WITH CHECK ADD  CONSTRAINT [CK_HopDong_NguonTao] CHECK  (([NguonTao]=(2) OR [NguonTao]=(1)))
GO
ALTER TABLE [dbo].[HopDongThue] CHECK CONSTRAINT [CK_HopDong_NguonTao]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [CK_NguoiDung_Kho] CHECK  ((([VaiTroID]=(3) OR [VaiTroID]=(2)) AND [KhoID] IS NOT NULL OR ([VaiTroID]=(4) OR [VaiTroID]=(1)) AND [KhoID] IS NULL))
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [CK_NguoiDung_Kho]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [CK_NguoiDung_LoaiKH] CHECK  (([VaiTroID]=(4) OR [LoaiKhachHangID] IS NULL))
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [CK_NguoiDung_LoaiKH]
GO
USE [master]
GO
